.jumbotron {
	position: relative;
	height: 100%;
	background-color: $light;
	background-image: url('../img/bg_header.png');
	background-size: cover;
	margin-bottom: 0;
	padding-bottom: 0;
	
	.container {
		position: relative;
		height: 100%;
		padding-top: 20%;
	}

	.jumbo-wrap {
		position: absolute;
		top: 23%;
		left: 0;
	}
	.icon-continue {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;

		img {
			display: block;
			margin: 0 auto;
			
			border-radius: 50px;
			background-color: rgba(0,0,0,0);
			box-shadow: 0 0 0 20px rgba(0,0,0,0);
			transition: box-shadow 0.4s;

			&:hover,
			&:focus,
			&:active {
				box-shadow: 0 0 0 0 rgba(0,0,0,0.3);
			}
		}
	} 
}