.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
	max-height: 100vh;
}

.navbar {
	margin-bottom: 0;
	background-color: $light;
	border-bottom: 1px solid transparent;
	transition: all 0.5s ease-out;

	.navbar-toggle {
		.icon-bar{
			width: 24px;
			height: 3px;
			background-color: $dark;
			opacity: 1;
			transition: background-color 0.5 ease-out, opacity 0.5 ease-out;
		}

		&:hover .icon-bar {
			opacity: 0.7;
		}

		&:active .icon-bar {
			background-color: $accent_header;
		}
	}
	.navbar-collapse.collapsing,
	.navbar-collapse.collapse {
		background-color: $light;
		padding: 0;
		height: 100vh;

		ul {
			width: 100%;
			padding-top: 15%;
			text-align: center;
			
			li {
				margin-left: 0;
				
				a {
					color: $dark;
					font-size: 1em;
					line-height: 1.05em;
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 0.07em;
					padding: 7% 0;
					transition: all 0.8s ease-out;
					&:hover {
						background-color: rgba(255, 96, 51, 0.2);
					}
				}
			}
		}

		.navbar-nav {
			margin: 7.5px 0 0;
		}
	}

		.navbar-header {
			padding: 15px 0;
		}

		.logo-header {
			font-size: 2.6em;
			color: $dark;
			transition: all 0.5s ease-out;
		}
	}

li.active,
li.active:focus,
li.active:hover,
li.active:active {
	background-color: rgba(255, 96, 51, 0.2);
}

li.active a,
li.active:focus a,
li.active:hover a,
li.active:active a {
	background-color: rgba(255, 96, 51, 0.2);
}

.js-scroll-on {
	padding: 10px 0;
	-webkit-box-shadow: 0px 3px 18px -4px rgba(0,0,0,0.35);
		-moz-box-shadow: 0px 3px 18px -4px rgba(0,0,0,0.35);
		box-shadow: 0px 3px 18px -4px rgba(0,0,0,0.35);
	
	.container {
		padding: 0;
	}
	
	.navbar-header {
		padding: 1% 0 0 3%;
	}
	.logo-header {
		font-size: 2.6em;
		color: $accent_header;
	}
	
	ul.nav {
		padding-top: 1%;
	}

	.nav li a {
		font-size: 0.9em;
		background-color: transparent;
	}}
